body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}
.container {
    max-width: 80vw !important;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h1 {
    color: #0a6ece;
    text-align: center;
}
label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: #333;
}
input[type="text"] {
    width: calc(50% - 22px);
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
button {
    background-color: #0a6ece;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    width: calc(50% - 22px);
    box-sizing: border-box;
}
button:hover {
    background-color: #075aae;
}
.results {
    margin-top: 20px;
}
.results h2 {
    color: #0a6ece;
    margin-bottom: 10px;
}
.results ul {
    list-style-type: none;
    padding: 0;
}
.results li {
    margin-bottom: 5px;
}
.results li a {
    color: #0a6ece;
    text-decoration: none;
    font-weight: bold;
}
.services-list {
    margin-top: 20px;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}
.services-list li {
    margin-bottom: 5px;
    width: 50%;
}
.fhlogo {
    height: 30px;
    border: 1px solid #fff;
    border-radius: 30px;
    margin-bottom: -10px;
    margin-left: -13px;
}
.peeklogo {
    height: 30px;
    border: 1px solid #000;
    border-radius: 30px;
    margin-bottom: -10px;
    margin-left: -13px;
}
.trytnlogo {
    height: 30px;
    width: 30px;
    background-color: #fff;
    border: 1px solid #fff;
    border-radius: 30px;
    margin-bottom: -10px;
    margin-left: -13px;
}